<div class="image-group"></div>
<div class="footer-group">
    <div class="text-center mb-2">
        <p class="fp">Робочий час:</p>
    </div>
    <div class="list-group list-group-horizontal column-gap-5">
        <div class="list-group list-group-flush column-gap-5 row-gap-2">
            <p class="fp">Понеділок<br>08:00 - 22:00</p>
            <p class="fp">Вівторок<br>08:00 - 22:00</p>
            <p class="fp">Середа<br>08:00 - 22:00</p>
        </div>
        <div class="list-group list-group-flush column-gap-5 row-gap-2">
            <p class="fp">Четвер<br>08:00 - 22:00</p>
            <p class="fp">П’ятниця<br>08:00 - 22:00</p>
            <p class="fp">Субота<br>08:00 - 22:00</p>
            <p class="fp">Неділя<br>08:00 - 22:00</p>
        </div>
    </div>
</div>
<div class="flexcontainer">
    <div class="list-group list-group-horizontal">
        <p>вул. Гагаріна, 73, Черкаси,</p>
    </div>
    <div class="list-group list-group-horizontal">
        <p>Cherkasy Oblast, Україна</span>
    </div>
    <div class="list-group list-group-horizontal">
        <p>000-000-00-00</p>
    </div>
</div>
<div class="additional-info">
    <div class="list-group list-group-horizontal column-gap-2">
        <div class="list-group list-group-flush column-gap-2 row-gap-0">
            <p class="fp p-2">Про нас</p>
            <p class="fp p-2">Контакти</p>
        </div>
        <div class="list-group list-group-flush column-gap-2 row-gap-0">
            <p class="fp p-2">Про нас</p>
            <p class="fp p-2">Контакти</p>
        </div>
    </div>
</div>