<!-- <script id="pattern" type="text/template"> -->
    <div class="view">
        <img class="dish-img" src="/images/snail.png" />
        <div class="dish-name">Торт</div>
        <div class="dish-price">20грн/100гр</div>
        <img class="image-4" src="img/image-3.svg" />
    </div>

<!-- </script> -->