<div class="frame-text main"><a href="http://localhost:3000/">Головна</a></div>
<div class="frame-text menu"><a href="http://localhost:3000/menu">Меню</a></div>
<div class="frame-text reviews"><a href="http://localhost:3000/reviews">Відгуки</a></div>

<a href="http://localhost:3000/">
  <img class="logo-img" src="/images/snail.png" />
</a>

<div class="search-form" onmouseover="mouseOverImage()" onmouseout="mouseOutImage()">
    <input class="form-control" id="search-control" type="search" placeholder="Пошук..." aria-label="Search">
    <img class="search-img" src="/images/search.png" />
</div>

<a href="http://localhost:3000/profile">
    <img class="profile-img" src="/images/profile.png" />
</a>
<a href="http://localhost:3000/shop-cart">
    <img class="shop-cart-img" src="/images/shop-cart.png" />
</a>